.AboutContent{ 
    width: 100%;
    margin: 0px;
    height: 1000px;
    padding: 0px;
    background:white;
    display: flex;
    justify-content: center;

}
.frontend{ 
    margin: auto;
    height: 600px;
    width: 800px;
}
.frontend h1{ 
   font-size: 2em;
   text-align: center;
  
}
.frontend h2{ 
    font-size: 1.5em;
    text-align: center;
    color:gray; 
 }

 .card-main{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
 }
 .card-tec{ 
    width: 300px;
    height: 120px;
 }
 .card-tec p{ 
   font-size: 1.25em;
   text-align: center;
 }
 .card-tec h3{ 
    font-size: 1.5em;
    text-align: center;
    color:gray; 
  }
  

 

  @media (min-width:299.98px) and (max-width:620px) {

    .AboutContent{ 
        width: 100%;
        margin: 0px;
        padding: 0px;
        background:white;
        display: flex;
        justify-content: center;
        height: 350px;
      
    }
    .frontend{ 
        height: 100px;
        width: 90vw;
    }
    .frontend h1{ 
        font-size: 1.5em;
        text-align: center;
     }
     .frontend h2{ 
        font-size: 1.2em;
        text-align: center;
     }
     .card-tec p{ 
        font-size: 1em;
        text-align: center;
      }
      .card-tec h3{ 
        font-size: 2em;
        text-align: center;
      }
      .card-tec{ 
        width: 100px;
        height: 70px;
     }
     .card-main{
       margin: auto;
     }
    
  }

  @media (min-width:621px) and (max-width:900px) { 
   .AboutContent{ 
      width: 100%;
      margin: 0px;
      padding: 0px;
      background:white;
      display: flex;
      justify-content: center;
      height: 800px;
  }
  .frontend{ 
      height: 250px;
      width: 90vw;
  }
  .frontend h1{ 
      font-size: 1.5em;
      text-align: center;
   }
   .frontend h2{ 
      font-size: 1.2em;
      text-align: center;
   }
   .card-tec p{ 
      font-size: 1em;
      text-align: center;
    }
    .card-tec h3{ 
      font-size: 2em;
      text-align: center;
    }
    .card-tec{ 
      width: 100px;
      height: 70px;
   }
   .card-main{
     margin: auto;
     width: 80%;
   
   }
}