.AboutContent{ 
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    height: 400px;

}
.frontend{ 
    margin: auto;
    width: 800px;
}
.frontend h1{ 
   font-size: 2em;
   text-align: center;
   color: #091f74;
  
}
.frontend h2{ 
    font-size: 1.5em;
    text-align: center;
    color:gray; 
    padding-bottom:50px ;
 }

 .card-main{
    display: flex;
    justify-content: space-around;
 }
 .card-tec{ 
    width: 150px;
    height: 150px;
    background-color:#091f74 ;
    display: flex;
    justify-content: center;
    border-radius: 50%;
 }
 .card-tec p{ 
   font-size: 1.25em;
   text-align: center;
   margin: auto;
   color: white;
 }
 .card-tec h3{ 
    font-size: 1.5em;
    text-align: center;
    color:white;
    margin: auto; 
  }
  

 

  @media (min-width:299.98px) and (max-width:620px) {

    .AboutContent{ 
        width: 100%;
        margin: 0px;
        padding: 0px;
        background:white;
        display: flex;
        justify-content: center;
        height: 300px;
      
    }
    .frontend{ 
        height: 100px;
        width: 90vw;
    }
    .frontend h1{ 
        font-size: 1.5em;
        text-align: center;
     }
     .frontend h2{ 
        font-size: 1.2em;
        text-align: center;
     }
     .card-tec p{ 
        display: none;
      }
      .card-tec h3{ 
        font-size: 2em;
        text-align: center;
      }
      .card-tec{ 
        width: 70px;
        height: 70px;
     }
     .card-main{
       margin: auto;
     }
    
  }

  @media (min-width:621px) and (max-width:900px) { 
   .AboutContent{ 
      width: 100%;
      margin: 0px;
      padding: 0px;
      background:white;
      display: flex;
      justify-content: center;
      height: 300px;
  }
  .frontend{ 
      height: 250px;
      width: 90vw;
  }
  .frontend h1{ 
      font-size: 1.5em;
      text-align: center;
   }
   .frontend h2{ 
      font-size: 1.2em;
      text-align: center;
   }
   .card-tec p{ 
      font-size: 1em;
      text-align: center;
    }
    .card-tec h3{ 
      font-size: 2em;
      text-align: center;
    }
    .card-tec{ 
      width: 100px;
      height: 100px;
   }
   .card-main{
     margin: auto;
     width: 80%;
   
   }
}