.ContactContainer{ 
    width: 100%;
    margin: 0px;
    height: 500px;
    padding: 0px;
    background:white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.Contact{ 
    width: 900px;
    margin:auto;
    height: 400px;
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.Contact h1{ 
    font-size: 2em;
    text-align: center;
    padding: 20px;
}
.ContactContent{ 
    width: 700px;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    margin: auto;
 
}
.ContactContent button{ 
    width: 200px;
    margin: 0px;
    height: 50px;
    background-color: white;
    border: none;
    font-size: 1.2em;
}

@media (min-width:621px) and (max-width:900px) { 
    .Contact{ 
        width: 500px;

    }
    .ContactContent{ 
        width: 500px;
    }

}
@media (min-width:901px) and (max-width:1280px) { 
    .Contact{ 
        width: 800px;
    }
    .ContactContent{ 
        width: 880px;
    }
  
}

@media (min-width:299.98px) and (max-width:620px) {
    .Contact{ 
        width: 320px;

    }
    .ContactContent{ 
        width: 320px;
        flex-direction: column;    
    }
    .ContactContent button{ 
        margin: auto;
    }

}