.AboutProjects{ 
    width: 100%;
    margin: 0px;
    height: 1000px;
    padding: 0px;
    background:whitesmoke;
    display: flex;
    justify-content: center;
}
.Tilt{ 
  width: 200px;
}
.containerCards { 
    margin: auto;
    width: 1200px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;

}
.CardProjecs{ 
    width: 300px;
    height: 500px;
    background: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    transition: 0.5s;

}
.CardProjecs:hover{ 
    -webkit-box-shadow: 10px 10px 5px 0px rgba(227,227,227,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(227,227,227,1);
    box-shadow: 10px 10px 5px 0px rgba(227,227,227,1);
}
.CardProjecs h1{ 
    font-size: 1em; 
    text-align: center;
    padding: 10px;
    color: black;
 }
 .CardProjecs h2{ 
  font-size: 2em; 
  text-align: center;
  padding: 10px;
  color: black;
}
 .Titles { 
   margin: auto;
   padding: 20px;

 }
 .Projecth1{ 
    font-size: 2em;
    text-align: center;
    padding: 10px;
 }
 .Projecth3{ 
  font-size: 1.5em;
  text-align: center;
  color: gray;
}
 .CardProjecs p{ 
    padding: 10px; 
    text-align: left;
    width: 200px;
    margin: auto;
    color: gray;
 }
 .CardProjecs img{ 
   margin: auto;
   width: 150px;
   height: 150px;
 }
 .CardProjecs button{ 
    padding: 10px;
    color:white; 
    background-color:black;
    margin: auto;
 }
  .CardProjecs button:hover{ 
      opacity: 0.7;
  }

@media screen and (max-width:620px) { 

    .containerCards { 
      margin: auto;
      width: 280px;
      justify-content: space-around;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 10px;
  }
  .CardProjecs{ 
    margin-top: 20px;
    width: 270px;
    height: 450px;

}
.AboutProjects{ 
  height: auto;
}
}


@media (min-width:621px) and (max-width:900px) { 

  .containerCards { 
    margin: auto;
    width: 580px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}
.CardProjecs{ 
  margin-top: 20px;
  width: 270px;
  height: 450px;

}
.AboutProjects{ 
height: auto;
}
}

@media (min-width:901px) and (max-width:1280px) { 

  .containerCards { 
    margin: auto;
    width: 880px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}
.CardProjecs{ 
  margin-top: 20px;
  width: 270px;
  height: 450px;

}
.AboutProjects{ 
height: auto;
}
}