.AboutProjects{ 
    width: 100%;
    margin: 0px;
    padding: 0px;
    background:white;
    display: flex;
    justify-content: center;
}
.Tilt{ 
  width: 200px;
}
.containerCards { 
    margin: auto;
    width: 1200px;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    padding: 10px;

}
.CardProjecs{ 
    width: 90%;
    height: 300px;
    background: #091f74;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    transition: 0.5s;
    cursor:pointer;
    margin: auto;
    margin-top: 20px;


}
.CardProjecs:hover{ 
    -webkit-box-shadow: 10px 10px 5px 0px rgba(227,227,227,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(227,227,227,1);
    box-shadow: 10px 10px 5px 0px rgba(227,227,227,1);
}
.CardProjecs h1{ 
    font-size: 1em; 
    text-align: center;
    padding: 10px;
    color: white;
 }
 .CardProjecs h2{ 
  font-size: 2em; 
  text-align: center;
  padding: 10px;
  color: white;
}
 .Titles { 
   margin: auto;
   padding: 20px;

 }
 .Projecth1{ 
    font-size: 2em;
    text-align: center;
    padding: 10px;
    color:#091f74; 
 }
 .Projecth3{ 
  font-size: 1.5em;
  text-align: center;
  color: gray;
}
 .CardProjecs p{ 
    padding: 10px; 
    text-align: left;
    width: 200px;
    margin: auto;
    color: whitesmoke;
 }
 .CardProjecs img{ 
   margin: auto;
   width: 150px;
   height: 150px;
 }
 .CardProjecs button{ 
    padding: 10px;
    color:#091f74; 
    background-color:white;
    margin: auto;
    border-radius: 20px;
    font-size: 0.9em;
    cursor:pointer; 
 }
  .CardProjecs button:hover{ 
      opacity: 0.7;
  }

@media screen and (max-width:620px) { 

    .containerCards { 
      margin: auto;
      width: 100%;
      justify-content: space-around;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 10px;
  }
  .AboutProjects{ 
  height: auto;
  }
}


@media (min-width:621px) and (max-width:900px) { 

  .containerCards { 
    margin: auto;
    width: 680px;
    padding: 10px;
}
.CardProjecs{ 
  margin-top: 20px;
  width: 100%;
  height: 350px;

}

.AboutProjects{ 
height: auto;
}
}

@media (min-width:901px) and (max-width:1280px) { 

  .containerCards { 
    margin: auto;
    width: 880px;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.CardProjecs{ 
  margin-top: 20px;
  width: 100%;
  height: 450px;

}
.AboutProjects{ 
height: auto;
}
}