.about-projects {
    width: 100%;
    margin: 0;
    padding: 0;
    background: white;
    display: flex;
    justify-content: center;

}

.container {
    margin: auto;
    width: 1200px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*background: red;*/
    row-gap: 20px;
}

.Card {
    width: 40%;
    height: 300px;
    background: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    transition: 0.5s;
    cursor: pointer;
    margin: auto;
    -webkit-box-shadow: 10px 10px 5px 0 rgba(227, 227, 227, 1);
    -moz-box-shadow: 10px 10px 5px 0 rgba(227, 227, 227, 1);
    box-shadow: 10px 10px 5px 0 rgba(227, 227, 227, 1);


}

.Card:hover {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(227, 227, 227, 1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(227, 227, 227, 1);
    box-shadow: 10px 10px 5px 0px rgba(227, 227, 227, 1);
}

.titles {
    margin: auto;
    padding: 20px;

}


.Card img {
    margin: auto;
    width: 150px;
    height: 150px;
}

@media screen and (max-width: 620px) {

    .container {
        margin: auto;
        width: 100%;
        /*justify-content: space-around;*/
        /*display: flex;*/
        /*flex-direction: column;;*/
    }
    .Card {
        width: 90%;
        height: 300px;
        /*background: white;*/
        border-radius: 10px;
        display: flex;
    }

    .about-projects {
        height: auto;
    }
}


@media (min-width: 621px) and (max-width: 900px) {

    .container {
        margin: auto;
        width: 620px;
     }

    .Card {
        width: 80%;
        height: 350px;

    }

    .about-projects {
        height: auto;
    }
}

@media (min-width: 901px) and (max-width: 1280px) {

    .container {
        margin: auto;
        width: 880px;
    }

    .Card {
        width: 80%;
        height: 450px;

    }

    .about-projects {
        height: auto;
    }
}