*{
    padding: 0px;
    margin: 0px;
    font-size: 1em;
}

.Content{ 
    width: 100%;
    margin: 0px;
    height: 1000px;
    padding: 0px;
    background-image:url('../img/banner2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.navbar{ 
    height: 100px;
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color:white;
}
.fixed{ 
    height: 100px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color:black;
    position: fixed;
    background-color:white;
    top: 0px;
    border-bottom:2px solid gray;
    opacity: 1;
}
.logo{ 
    width: 400px;
    display: flex;
    justify-content:center ;
}
.logo h1{ 
    margin: auto;
    font-size: 2.8em;
}
.Links{ 
    width: 900px;
    display: flex;
    justify-content: center;
}
.Links ul{ 
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 100vw;
    font-size: 1.5em;
    cursor: pointer;
    border-bottom:solid 2px transparent;
    
}
.Links ul li:hover{ 
    border-bottom:solid 2px white;
    transition-delay: 0s;
}


.register{ 
    width: 80vw;
    margin: auto;
    height: 800px;
    display: flex;
    justify-content: start;
    background-color:transparent;
}
.register  h2{ 
  font-size: 3em;
  animation-name: tapping;
  animation-duration: 1s;
  animation-iteration-count: infinite;

}
.register main{ 
   width:500px;
   color: white;
   display: flex;
   justify-content: center;
   flex-direction: column;
   background-color:transparent;
}
.register main p{ 
    width: 500px;
    color: white;
    font-size: 2em;
 }
.linkedin{ 
    width: 500px;
    color: white;
    font-size: 2em;
    padding: 20px;
    margin-top: 20px;
    background-color: transparent;
    border: solid 3px white;
    border-radius: 20px;
    cursor: pointer;
    animation-name: punch;
    animation-duration: 0.5s;
 

 }
 .icons-nav{ 
    display: none;
 }
 .icons-nav p{ 
    opacity: 0;
 }
 .hamburger{
    display: none;
 }
 .Esc{ 
   display: none;
}
#open {
   opacity: 0;
}
#close {
    opacity: 0;
}

 @keyframes punch { 
    from{position: relative;left: 100px;} 
    to {position: relative;left:0px;}
}

.linkedin:hover{ 
    color:whitesmoke;
 }
 @keyframes toppunch { 
    0%{top: -100px;} 
    25%{top: -50px;} 
    50%{top: -25px;} 
    75%{top: -10px;} 
    100% {left:0px;}
}
@keyframes tapping{ 
    0%{border-right: 3px solid transparent;}
    100% {border-right: 3px solid white;}
}

@media (min-width:299.98px) and (max-width:566.98px) {
    .Content{ 
        width: 100%;
        margin: 0px;
        height: 350px;
        padding: 0px;
        background-size: 100% 350px;
    }
    .navbar{ 
        height: 50px;
        width: 100vw;
        margin: auto;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        color:black;
        background-color:white;
    }
    .logo{ 
        display: none;
    }
    .Links{ 
        width: 270px;
        display: flex;
        justify-content: center;
    }
    .Links ul{ 
        list-style: none;
        display: flex;
        justify-content: space-around;
        margin: auto;
        width: 100vw;
        font-size: 1em;
        cursor: pointer;
        border-bottom:solid 2px transparent;  
        display: none;
        
    }
    .fixed{ 
        height: 50px;
        width: 100vw;
        margin: auto;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        color:black;
        background-color:white;
    }
    .register{ 
        width: 80vw;
        margin: auto;
        height: 300px;
        display: flex;
        justify-content: start;
        background-color:transparent;
    }
    .register main{ 
            width:300px;
            color: white;
            display: flex;
            justify-content: center;
            flex-direction: column;
            background-color:transparent;
     }
     .register main p{ 
        width: 300px;
        color: white;
        font-size: 1.5em;
     }
     .register  h2{ 
        font-size: 2em;
        animation-name: tapping;
        animation-duration: 1s;
        animation-iteration-count: infinite;
      
      }
      .linkedin{ 
        width: 300px;
        color: white;
        font-size: 1.5em;
        padding: 5px;
        margin-top: 20px;
        border: solid 3px white;
        border-radius: 20px;
        cursor: pointer;
        animation-name: punch;
        animation-duration: 0.5s;
     
    
     }
     .icons-nav{ 
        margin: auto;
        width: 60vw;
        font-size: 1.2em;
        justify-content: space-around;
        animation-name: punch;
        animation-duration: 0.5s;
        position: relative;

     }
     .hamburger{
        display: block; 
        padding-left: 10px;
        padding-right: 10px;
        height: 50px;
        border: none;
        background-color: white;
     }
     .Esc{
            padding-left: 10px;
            padding-right: 10px;
            height: 50px;
            border: none;
            background-color: white;
            
     }
     .icons-nav p{ 
        opacity: 1;
     }
     #open {
        opacity: 1;
        display: block;
    }
    #close {
        opacity: 1;
    }
    }
 
@media (min-width:567px) and (max-width:900px) {
        
    .logo h1{ 
            margin: auto;
            font-size: 1.5em;
        }
        .Content{ 
            width: 100%;
            margin: 0px;
            height: 600px;
            padding: 0px;
            background-size: 100% 600px;
        }
        .navbar{ 
            height: 50px;
            width: 100vw;
            margin: auto;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            color:black;
            background-color:white;
        }
        
        .Links{ 
            width:400px;
            display: flex;
            justify-content: center;
        }
        .Links ul{ 
            list-style: none;
            display: flex;
            justify-content: space-around;
            margin: auto;
            width: 100vw;
            font-size: 1em;
            cursor: pointer;
            border-bottom:solid 2px transparent;  
            display: none;
            
        }
        .fixed{ 
            height: 50px;
            width: 100vw;
            margin: auto;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            color:black;
            background-color:white;
        }
        .register{ 
            width: 80vw;
            margin: auto;
            height: 500px;
            display: flex;
            justify-content: start;
            background-color:transparent;
        }
        .register main{ 
                width:300px;
                color: white;
                display: flex;
                justify-content: center;
                flex-direction: column;
                background-color:transparent;
         }
         .register main p{ 
            width: 300px;
            color: white;
            font-size: 1.5em;
         }
         .register  h2{ 
            font-size: 2em;
            animation-name: tapping;
            animation-duration: 1s;
            animation-iteration-count: infinite;
          
          }
          .linkedin{ 
            width: 300px;
            color: white;
            font-size: 1.5em;
            padding: 5px;
            margin-top: 20px;
            border: solid 3px white;
            border-radius: 20px;
            cursor: pointer;
            animation-name: punch;
            animation-duration: 0.5s;
         
        
         }
         .icons-nav{ 
            margin: auto;
            width: 60vw;
            font-size: 1.2em;
            justify-content: space-around;
            animation-name: punch;
            animation-duration: 0.5s;
            position: relative;
    
         }
         .hamburger{
            display: block; 
            padding-left: 10px;
            padding-right: 10px;
            height: 50px;
            border: none;
            background-color: white;
         }
         .Esc{
                padding-left: 10px;
                padding-right: 10px;
                height: 50px;
                border: none;
                background-color: white;
                
         }
         .icons-nav p{ 
            opacity: 1;
         }
         #open {
            opacity: 1;
            display: block;
        }
        #close {
            opacity: 1;
        }
       
        }


 @media (min-width:901px) and (max-width:1280px) {
.logo h1{ 
    margin: auto;
    font-size: 1.75em;

}
.logo { 
    width: 100px;

}
.Links ul{ 
    font-size: 1.25em;

}
.Links { 
   width: 60vw;

}
.linkedin{ 
    width: 300px;
  
    font-size: 1.25em;
   
 

 }
 .fixed{ 
    height:75px;
}
.register  h2{ 
    font-size: 1.75em;

  
  }
  .register main p{ 
    font-size: 1.5em;
 }
 .register main p{ 
    font-size: 1.5em;
 }
 .register{ 
    width: 80vw;
    margin: auto;
    height: 900px;
    display: flex;
    justify-content: start;
    background-color:transparent;
}
 }
