* {
    padding: 0;
    margin: 0;
    font-size: 1em;
}

.Content {
    width: 100%;
    margin: 0;
    height: 300px;
    padding: 0;
    background: #091f74;
}

.navbar {
    height: 60px;
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: white;
}

.fixed {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: black;
    position: fixed;
    background-color: white;
    margin: 0;
    border-bottom: 2px solid gray;
    z-index: 100;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo h1 {
    margin: auto;
    font-size: 2em;
}

.Links {
    width: 900px;
    display: flex;
    justify-content: center;
}

.Links ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 100vw;
    font-size: 1em;
    cursor: pointer;
    border-bottom: solid 2px transparent;

}

.Links ul li:hover {
    border-bottom: solid 2px white;
    transition-delay: 0.5s;
}


.register {
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: flex-start;
}

.register h2 {
    font-size: 3em;
}

.register main {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
    padding-top: 20px;
}

.register main section {

    display: flex;
    align-items: flex-start;
    padding-top: 20px;
}


.register main section button {
    padding: 10px;
    background: transparent;
    border: solid white 2px;
    display: flex;
    align-items: center;
    color: white;
    border-radius: 20px;
    margin-right: 20px;

}

.register main p {
    color: white;
    font-size: 2em;
}

.linkedin {
    width: 500px;
    color: white;
    font-size: 2em;
    padding: 20px;
    margin-top: 20px;
    background-color: transparent;
    border: solid 3px white;
    border-radius: 20px;
    cursor: pointer;
    animation-name: punch;
    animation-duration: 0.5s;


}

.icons-nav {
    display: none;
}

.icons-nav p {
    opacity: 0;
}

.hamburger {
    display: none;
}

.Esc {
    display: none;
}

#open {
    opacity: 0;
}

#close {
    opacity: 0;
}

@keyframes punch {
    from {
        position: relative;
        left: 100px;
    }
    to {
        position: relative;
        left: 0;
    }
}

.linkedin:hover {
    color: whitesmoke;
}

@keyframes toppunch {
    0% {
        top: -100px;
    }
    25% {
        top: -50px;
    }
    50% {
        top: -25px;
    }
    75% {
        top: -10px;
    }
    100% {
        left: 0;
    }
}

@keyframes tapping {
    0% {
        border-right: 3px solid transparent;
    }
    100% {
        border-right: 3px solid white;
    }
}

@media (min-width: 299.98px) and (max-width: 566.98px) {
    .Content {
        width: 100%;
        margin: 0;
        height: auto;
        padding: 0;
        background-size: 100% 350px;
    }

    .navbar {
        height: 50px;
        width: 100vw;
        margin: auto;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        color: black;
        background-color: white;
    }

    .logo {
        display: none;
    }

    .Links {
        width: 270px;
        display: flex;
        justify-content: center;
    }

    .Links ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        margin: auto;
        width: 100vw;
        font-size: 1em;
        cursor: pointer;
        border-bottom: solid 2px transparent;
        display: none;

    }

    .fixed {
        height: 50px;
        width: 100vw;
        margin: auto;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        color: black;
        background-color: white;
    }

    .register {
        justify-content: space-around;
        width: 100%;
    }

    .register main {
        flex-direction: column;
        justify-content: space-around;
        width: 80%;
        margin: auto;
        padding: 20px;
    }

    .register main h2 {
        font-size: 2em;
    }

    .register main p {
        font-size: 1.2em;
    }

    .icons-nav {
        margin: auto;
        width: 60vw;
        font-size: 1.2em;
        justify-content: space-around;
        animation-name: punch;
        animation-duration: 0.5s;
        position: relative;

    }

    .hamburger {
        display: block;
        padding-left: 10px;
        padding-right: 10px;
        height: 50px;
        border: none;
        background-color: white;
    }

    .Esc {
        padding-left: 10px;
        padding-right: 10px;
        height: 50px;
        border: none;
        background-color: white;

    }

    .icons-nav p {
        opacity: 1;
    }

    #open {
        opacity: 1;
        display: block;
    }

    #close {
        opacity: 1;
    }
}

@media (min-width: 567px) and (max-width: 900px) {

    .logo h1 {
        margin: auto;
        font-size: 1.5em;
    }

    .navbar {
        height: 50px;
        width: 100vw;
        margin: auto;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        color: black;
        background-color: white;
    }

    .Links {
        width: 400px;
        display: flex;
        justify-content: center;
    }

    .Links ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        margin: auto;
        width: 100vw;
        font-size: 1em;
        cursor: pointer;
        border-bottom: solid 2px transparent;
        display: none;

    }

    .fixed {
        height: 50px;
        width: 100vw;
        margin: auto;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        color: black;
        background-color: white;
    }


    .icons-nav {
        margin: auto;
        width: 60vw;
        font-size: 1.2em;
        justify-content: space-around;
        animation-name: punch;
        animation-duration: 0.5s;
        position: relative;

    }

    .hamburger {
        display: block;
        padding-left: 10px;
        padding-right: 10px;
        height: 50px;
        border: none;
        background-color: white;
    }

    .Esc {
        padding-left: 10px;
        padding-right: 10px;
        height: 50px;
        border: none;
        background-color: white;

    }

    .icons-nav p {
        opacity: 1;
    }

    #open {
        opacity: 1;
        display: block;
    }

    #close {
        opacity: 1;
    }

}


@media (min-width: 901px) and (max-width: 1280px) {
    .logo h1 {
        margin: auto;

    }

    .logo {
        width: 100px;

    }

    .Links ul {
        font-size: 1em;

    }

    .Links {
        width: 60vw;

    }

    .linkedin {
        width: 300px;


    }

    .fixed {
        height: 50px;
    }

}