.content{ 
    width: 100%;
    margin: 0px;
    height: 1000px;
    padding: 0px;
    background:whitesmoke;
    display: flex;
    justify-content: space-around;
}

.AboutMe{ 
    width: 40vw;
    height: 600px;
    margin: auto;
    justify-content: center;
    display: flex;
}
.AboutMe main { 
    margin: auto;
}
.AboutMe h1{ 
    color:black;
    font-size: 2em;
    text-align: left;
    padding: 20px;
    margin: auto;
}
.AboutMe p{ 
    color:gray;
    font-size: 1.25em;
    text-align: justify;
    padding: 20px;
    width: 500px;
}
.forimg{ 
    width: 40vw;
    height: 600px;
    margin: auto;
    justify-content: center;
    display: flex;
}
.forimg main{ 
    margin: auto;
    padding: 20px;
    font-size: 1.5em;
    width: 700px;
    display:flex ;
    justify-content:center ;
    flex-direction: column;
 }

 .forimg h1{ 
    font-size: 15em;
    text-align: center;
    margin: auto;
 }
 .buttons-contact{ 
    width:500px;
    margin: auto;
    display: flex;
    justify-content: space-around;
 }
 .buttons-contact button{ 
    width: 200px;
    padding: 10px;
    background-color: black;
    color: white;
    border: solid 2px white;
    cursor: pointer;
 }
 .buttons-contact button:hover{ 
    opacity: 0.7;
 }

 @media (min-width:299.98px) and (max-width:566.98px) {
    
    .content{ 
        width: 100%;
        margin: 0px;
        padding: 0px;
        background:whitesmoke;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        height: 550px;
    }
    .forimg{ 
        width: 80vw;
        margin: auto;
        justify-content: center;
        display: flex;
        height: 130px;
    }
    .forimg h1{ 
        font-size: 5em;
        text-align: center;
        margin: auto;
     }
     .forimg main{ 
        margin: auto;
        font-size: 1.5em;
        width: 200px;
        display:flex ;
        justify-content:center ;
        flex-direction: column;
     }
     .AboutMe{ 
        width: 80vw;
        margin: auto;
        justify-content: center;
        display: flex;
        height: 500px;
        padding: 20px;
    }
    .AboutMe h1{ 
        color:black;
        font-size: 1.5em;
        text-align: center;
        padding: 10px;
    }
    .AboutMe p{ 
        color:black;
        font-size: 1em;
        text-align:justify;
        padding: 10px;
        width: 90vw;
    }
    .buttons-contact{ 
        width: 90vw;
        margin: auto;
        display: flex;
        justify-content: space-around;
     }
     .buttons-contact button{ 
        width: 150px;
        padding: 10px;
        background-color: black;
        color: white;
        border: solid 2px white;
        cursor: pointer;
     }
     .buttons-contact button:hover{ 
        opacity: 0.7;
     }

}
